/*
 * ============================================
 * ANNOUNCEMENT
 * ============================================
 */
 #announcement #logo {
	max-width: 400px;
}

#announcement .wp-block-cover__inner-container {
	padding: 20px;
}

@media (max-width: 690px) {
	#announcement .is-layout-flex {
		justify-content: center;
	}
}

.overlap-buton {
	position: relative;
	z-index: 30 !important;
}


