/*
 * ============================================
 * HERO BANNER
 * ============================================
 */
 .hero-banner-group {
	position: relative;
	overflow: hidden;
}

.hero-banner__texture-left {
	position: absolute !important;
	left: 0;
	bottom: -180px;
}

.hero-banner__texture-right {
	position: absolute !important;
	right: 0;
	top: -120px;
}

.hero-banner {
	position: relative;
}

.hero-banner:after {
	content: "";
	display: block;
	width: 100%;
	height: 90px;
	background-image: url('https://asia.wordcamp.org/2026/files/2025/10/patterns-1.png');
	position: absolute;
	bottom: 0;
	left: 0;
	background-repeat: repeat-x;
	background-size: auto;
	background-position: center;
}

.hero-banner h1 {
	max-width: var(--wp--style--global--content-size);
}

.hero-banner .post-meta * {
	color: var(--wp--preset--color--base) !important;
}

@media screen and (max-width: 768px) {
	.hero-banner {
		padding-top: var(--wp--preset--spacing--50);
		padding-bottom: 140px;
	}
	
	.hero-banner h1 {
		flex-basis: 100%;
	}
}
