/*
 * ============================================
 * ATTENDEES
 * ============================================
 */
 #tix-attendees {
	max-width: inherit;
}

.tix-attendee-list {
	display: grid;
	gap: 2rem;
	padding: 0;
}

.tix-columns-3 {
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.tix-columns-4 {
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.tix-attendee-list li {
	width: 100% !important;
	float: none;
	box-sizing: border-box;
	border: 1px solid var(--wp--preset--color--contrast-3);
	border-radius: 8px;
	height: auto !important;
	overflow: hidden;
	padding: 15px 25px;
	margin: 0 !important;
	background-color: var(--wp--preset--color--custom-background-gray);
}

.tix-attendee-list .avatar {
	border: 2px solid var(--wp--preset--color--custom-maroon);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	box-sizing: border-box;
}

.tix-attendee-list .tix-field {
	margin-left: 100px;
	margin-bottom: .25em !important;
	overflow-wrap: anywhere;
	word-break: keep-all;
}

.tix-attendee-list .tix-field:last-child {
	margin-bottom: 0 !important;
}

.tix-attendee-list a.tix-field {
	text-decoration: none;
	color: var(--wp--preset--color--accent-2);
}

.tix-attendee-list a.tix-field:hover {
	text-decoration: underline;
}

.tix-attendee-lists .tix-attendee-name {
	font-size: 1.5rem !important;
	font-family: var(--heading-font);
	color: var(--wp--preset--color--contrast-2);
	font-weight: 400;
	line-height: 1.1;
}

.tix-attendee-lists .tix-attendee-twitter,
.tix-attendee-lists .tix-attendee-url {
	padding-left: 1.25rem;
	position: relative;
}

.tix-attendee-lists .tix-attendee-twitter::before {
	display: inline-block;
	content: "ùïè";
	width: 1em;
	height: 1em;
	font-weight: 700;
	font-size: 1rem;
	margin-right: .25em;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
}

.tix-attendee-lists .tix-attendee-url::before {
	font-family: 'dashicons';
	content: "\f103";
	margin-right: .5em;
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 0;
}