/*
 * ============================================
 * New HOME PAGE
 * ============================================
 */
 .page-id-3231 .wp-block-group.alignwide.has-global-padding.is-layout-constrained.wp-container-core-group-is-layout-b608072d.wp-block-group-is-layout-constrained, .page-id-3231 .wp-block-group.hero-banner.has-contrast-background-color.has-background.is-vertical.is-content-justification-center.is-layout-flex.wp-container-core-group-is-layout-945a12ae.wp-block-group-is-layout-flex {
	display: none !important;
}

.page-id-3231 #speaker-sponsor-grid .wp-block-list li {
	line-height: 1em !important;
}

#icon-section {
	text-align: right;
}

.icon-list .fa {
	color: #fff !important;
}

#hero-banner-section .wp-block-cover.is-position-bottom-left {
	align-items: none;
	justify-content: unset;
}

#hero-banner-section {
	margin-top: -162px;
}

#hero-banner-section .wp-block-group.custom-banner-text.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
	padding-bottom: 150px !important;
}

.home-news-section p.has-medium-font-size, .home-news-section .wp-block-post-author-name.has-medium-font-size, .home-news-section .taxonomy-category {
	display: none !important;
}

.about-asia h2 {
	margin: 10px 0 !important;
	padding: 0 !important;
}

.page-id-3231 #sponsorship-apply-now .wp-block-image img {
	height: 600px !important;
	width: 100% !important;
	margin-top: 210px !important;
}