/*
 * ============================================
 * ORGANIZERS
 * ============================================
 */

.wcb_organizer {
	padding: 1.5rem;
	border: 1px solid var(--wp--preset--color--contrast-3);
	border-radius: 10px;
	background: var(--wp--preset--color--custom-background-gray);
	padding: 35px 0 !important;
}

.wca26_profile_links {
	background: var(--wp--preset--color--base);
	width: max-content;
	padding: 5px;
}

.cusotm_organizer_title {
	margin-top: 20px !important;
}

.flagimage {
	border: .5px solid var(--wp--preset--color--black);
}

.organizer-image img {
	border: 5px solid var(--wp--preset--color--accent);
	border-radius: 50%;
	width: 140px !important;
	height: 140px !important;
}

.page-slug-organizers .more_about_organizer ~ p,
.page-slug-organizers .Cusotm_Organizer_Team,
.page-slug-organizers .nickname {
	display: none;
}

.cusotm_organizer_title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 26px;
}

.single-wcb_organizer .wp-block-post-title {
	display: none;
}

.single-wcb_organizer .wp-block-group.is-content-justification-left {
	display: none;
}

.single-wcb_organizer .more_about_organizer {
	display: none;
}

.single-wcb_organizer .team_name_group h2, .team_name_group h3, .team_name_group p {
	padding: 10px;
	margin: 0 !important;
}

.single-wcb_organizer .team_name_group h3 {
	font-size: 24px !important;
}

.single-wcb_organizer .wp-block-social-links .wp-social-link svg,
.page-slug-organizers  .wp-block-social-links .wp-social-link,
.page-slug-organizers .wp-block-social-links .wp-social-link svg,
.page-slug-organizers  .wp-block-social-links .wp-social-link {
	width: 25px !important;
	height: 25px !important;
}

.single-wcb_organizer .more_about_organizer ~ p {
	text-align: center;
}

.Global-lead .wp-block-post-template {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.single-wcb_organizer .organizer-image img {
	border: 5px solid #57066C;
	border-radius: 50%;
	width: 200px !important;
	height: 200px !important;
}

.single-wcb_organizer .cusotm_organizer_title {
	font-family: var(--wp--preset--font-family--jaini-purva);
	font-size: 46px;
}

@media (min-width: 320px) and (max-width: 800px) {
	
	.page-slug-organizers	.Global-lead .wp-block-post-template {
		width: 100%;
	}
	
	.more_about_organizer {
		font-size: 16px;
	}
}

@media (min-width: 810px) and (max-width: 1050px) {
	
	.page-slug-organizers .wp-block-heading.has-text-align-center.cusotm_organizer_title {
		font-size: 20px;
	}
	
	.page-slug-organizers	.Global-lead .wp-block-post-template {
		width: 100%;
	}
	
	.page-slug-organizers .wp-block-social-links .wp-social-link svg,
	.page-slug-organizers .wp-block-social-links .wp-social-link {
		width: 20px !important;
		height: 20px !important;
	}
	
	.more_about_organizer {
		font-size: 12px;
	}
}

.more_about_organizer span {
	text-underline-offset: 3px;
}