/*
 * ============================================
 * ORGANIZERS
 * ============================================
 */

/* 
 .page-slug-organizers .attachment-96x96.size-96x96.wp-post-image {
	border: 5px solid #57066c;
	padding: 10px;
} */

.page-slug-organizers .wcb_organizer.type-wcb_organizer.status-publish.hentry {
	padding: 1.5rem;
	border: 1px solid #b0a1e6;
	border-radius: 10px;
	background: #F3F4F6;
	padding: 35px 0 !important;
}

/* .page-slug-organizers .hero-banner {
	display: none;
}

.page-slug-organizers .hero-banner-group {
	margin-top: -11% !important;
} */

.page-slug-organizers .wp-block-group.wca26_profile_links.is-content-justification-center.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-23441af8.wp-block-group-is-layout-flex {
	background: #fff;
	width: max-content;
	padding: 5px 0;
}

.columns-3.alignwide.wp-block-post-template.is-layout-grid.wp-block-post-template-is-layout-grid {
	min-width: 1200px !important;
}

.page-slug-organizers .wp-block-separator.has-css-opacity.is-style-wide, .page-slug-organizers h3.wp-block-heading, .page-slug-organizers .top-title {
	display: none;
}

.cusotm_organizer_title {
	margin-top: 20px !important;
}

.flagimage {
	border: .5px solid black;
}

.page-slug-organizers .entry-content.wp-block-post-content.has-global-padding.is-layout-constrained.wp-block-post-content-is-layout-constrained p {
	display: none;
}

.organizer-image img {
	border: 5px solid #57066C;
	border-radius: 50%;
	width: 140px !important;
	height: 140px !important;
}

.single-wcb_organizer .wp-block-post-title {
	display: none;
}

.single-wcb_organizer .wp-block-group.is-content-justification-left {
	display: none;
}

.single-wcb_organizer .more_about_organizer {
	display: none;
}

.single-wcb_organizer .team_name_group h2, .team_name_group h3, .team_name_group p {
	padding: 10px;
	margin: 0 !important;
}

.single-wcb_organizer .team_name_group h3 {
	font-size: 24px !important;
}

.single-wcb_organizer .wp-block-social-links .wp-social-link svg, .page-slug-organizers  .wp-block-social-links .wp-social-link, .page-slug-organizers .wp-block-social-links .wp-social-link svg, .page-slug-organizers  .wp-block-social-links .wp-social-link {
	width: 25px !important;
	height: 25px !important;
}

.Global-lead .wp-block-post-template {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-heading.has-text-align-center.cusotm_organizer_title {
	font-family: Poppins;
	font-weight: 600;
	font-size: 26px;
}

.page-slug-organizers h2.team-title {
	font-size: clamp(28px, 2rem + 4vw, 70px);
	font-weight: 600;
	line-height: 1.15;
	margin-bottom: 40px !important;
}

.page-slug-organizers .team-grid {
	min-width: 1200px !important;
}

.single-wcb_organizer .organizer-image img {
	border: 5px solid #57066C;
	border-radius: 50%;
	width: 200px !important;
	height: 200px !important;
}

.single-wcb_organizer .wp-block-heading.has-text-align-center.cusotm_organizer_title {
	font-family: var(--wp--preset--font-family--jaini-purva);
	font-size: 46px;
}

/* Organizers - Media Queries */
@media screen and (max-width: 768px) {
	.page-slug-organizers	.Global-lead .wp-block-post-template {
		width: 100%;
	}
}

@media (min-width: 320px) and (max-width: 800px) {
	.page-slug-organizers .team-grid {
		min-width: 300px !important;
	}
	
	.page-slug-organizers .hero-banner-group {
		margin-top: -21% !important;
	}
	
	.page-slug-organizers .wp-block-group.wca26_profile_links.is-content-justification-center.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-23441af8.wp-block-group-is-layout-flex {
		background: #fff;
		width: 55%;
		padding: 5px 0;
	}
	
	.page-slug-organizers	.Global-lead .wp-block-post-template {
		width: 100%;
	}
	
	.more_about_organizer {
		font-size: 16px;
	}
}

@media (min-width: 810px) and (max-width: 1050px) {
	.page-slug-organizers .team-grid {
		min-width: 700px !important;
	}
	
	.page-slug-organizers	.wp-block-heading.has-text-align-center.cusotm_organizer_title {
		font-size: 20px;
	}
	
	.page-slug-organizers .hero-banner-group {
		margin-top: -16% !important;
	}
	
	.page-slug-organizers .wp-block-group.wca26_profile_links.is-content-justification-center.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-23441af8.wp-block-group-is-layout-flex {
		background: #fff;
		width: 75%;
		padding: 5px 0;
	}
	
	.page-slug-organizers	.Global-lead .wp-block-post-template {
		width: 100%;
	}
	
	.page-slug-organizers .wp-block-social-links .wp-social-link svg, .page-slug-organizers .wp-block-social-links .wp-social-link {
		width: 20px !important;
		height: 20px !important;
	}
	
	.more_about_organizer {
		font-size: 12px;
	}
}